.event {
  font-size: 20px;
}

.event:not(:last-child) {
  border-bottom: 1px solid black;
}

.event-title {
  float: left;
  font-weight: 400;
}

.event-time {
  float: right;
  margin-left: 15px;
}

#events {
  width: 300px;
}
