.landing-header-media {
    padding-left: 0;
    padding-right: 0;
}
#landing-header .landing-header-content {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
    left: 0px;
    right: 0px;
}
#landing-header .landing-header-content h1 {
    color: white;
}
#landing-header .landing-img {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}