body {
	margin: 0;
    padding: 0;
}

.play-status-pad {
    padding-left: 20px;
    padding-right: 20px;
}

.buttons {
    margin-bottom: 15px;
}

.space {
    margin-left: 50;
}

.mid-vert-align-progress {
    top: 27px;
	bottom: 27px;
}

.progress {
    width: 100%;
    height: 15px;
    background: rgba(255, 255, 255, 0.5);
}

.progress-bar {
    height: 15px;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    font-weight: 400;
}
